*{
    background-color: black;
    color: red;
}
#header{
    width: 1000px;
    height: 80px;
    margin: auto;
    text-align: center;
    font-size: 28px;
    font-family: 'Lacquer', sans-serif;
}
#headertext{
    color: black;
    text-shadow: -2px -2px 0 red, 2px -2px 0 red, -2px 2px 0 red, 2px 2px 0 red;
    margin-top: 0px;
}
#characterslist{
    width: 1000px;
    height: 770px;
    border: white 2px solid;
    margin: 0 auto;
    border-radius: 25px;
}
.characters{
    width: 470px;
    height: 130px;
    border-bottom: 2px solid red;
    margin: 10px;
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: red solid 2px;
}
h2{
    margin: 0;
}
h4{
    margin: 0;
    font-size: 16px;
    display: inline-block;
}
i{
    margin-right: 20px;
    width: 1px;
}
.avatar{
    float: left;
}
.inspect{
    float: right;
    width: 100px;
}

.stats{
    margin-left: 125px;
}
#footer{
    border: red 2px solid;
    width: 1000px;
    height: 60px;
    margin: 10px auto;
    border-radius: 25px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}